.scroll-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
    transform-origin: 106px center;
    transform: rotate(-90deg);
    transition: all .3s ease;
    &.active {
        transform: rotate(0deg);
    }
}

.app-footer {
    padding: 3rem 0 0;
    background-color: $app-primary-dark;
}

.footer-content {
    justify-content: space-between;
    .footer-item {
        max-width: 350px;
    }
}