.app-navigation {
    min-height: 80px;
    transform: translateY(-80px);
    transition: all .5s ease;
    .navbar-nav{
        .nav-item {
            .profile {
                padding:0;
                img {
                    width: 30px;
                    border-radius: 50%;
                    background-color: #f8f9fa;
                }
            }
            .nav-link {
                position: relative;
                padding: 1rem;
                font-family: $app-font-secondry;
                color: $app-navbar-link-color;
                &.underline:after{
                    content: "";
                    position: absolute;
                    bottom: 1rem;
                    left: 1rem;
                    right: 1rem;
                    height: 2px;
                    background-color: $app-primary-light;
                    border-radius: 2px;
                    opacity: 0;
                    transform: translateY(4px);
                    transition: all .5s ease;
                }
            }
            &.active,&:hover {
                .nav-link {
                    color: $black;
                    &.underline:after{
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
            &.active .nav-link {
                font-weight: $font-weight-bold;
            }

            &.info {
                .nav-link:before {
                    content: "";
                    position: absolute;
                    right: 8px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    z-index: -1;
                    background-color: $danger;
                }
            }

            .login-btn {
                width: 120px;
            }
        }
    }
    &.active {
        transform: none;
    }
    @include media-breakpoint-down(md) {
        .nav-item {
            width: 100%;
            display: block;
            .nav-link {
                border-top: solid 1px #ededed;
                &:after {
                    content: initial !important;
                }
            }
            &.active {
                .nav-link {
                    background-color: $app-primary-dark;
                    color: #fff !important;
                }
            }
        }
    }
}

.doify-navigation {
    min-height: 80px;
    transform: translateY(-80px);
    transition: all .5s ease;
    .navbar-nav{
        .nav-item {
            .nav-link {
                color: #2B478B;

            }
        }
    }
    &.active {
        transform: none;
    }
}