#root {
    padding-top: 80px;
}

label {
    color: $app-primary-dark;
}

.app-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    margin-bottom: 1.5rem;
    .sub-heading {
        color: $app-primary-light;
        margin-bottom: 2rem;
        position: relative;
        text-transform: uppercase;
        &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 50%;
            border-radius: 1rem;
            background-color: $app-heading-bg;
            opacity: 0.1;
        }
    }
    .heading {
        position: relative;
        color: $app-heading-color;
        font-weight: bold;
        &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 50%;
            border-radius: 1rem;
            background-color: $app-heading-bg;
            opacity: 0.1;
        }
    }
}

.font-secondry {
    font-family: $app-font-secondry;
}
.anchor {
    font-family: $app-font-secondry;
    color: $app-primary-light;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loader-wrapper {
    position: relative;
    .loader {
        position: absolute;
        display: flex;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        align-items: center;
        justify-content: center;
    }
}

.file-input {
    position: relative;
    margin-bottom: 0.75rem;
    * {
        font-family: $app-font-secondry;
    }
    input {
        z-index: 1;
    }
    .file-info {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        display: flex;
        background-color: $white;
        .info {
            width: 100%;
            padding: $input-padding-y $input-padding-x;
            // border: solid $input-border-width $input-border-color;
            border-right: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            &.placeholder {
                color: $input-placeholder-color;
            }
        }
        .action {
            padding: $input-padding-y $input-padding-x;
            // border: solid $input-border-width $input-border-color;
            border-left: 0;    
            color: $app-primary-light;
            font-weight: bold;
            cursor: pointer;
        }
    }
}

.group-select {
    * {
        font-family: $app-font-secondry;
    }
}

.select-box {
    z-index: 99;
    * {
        font-family: $app-font-secondry;
    }
}

.btn-fixed-1 {
    width: 150px;
}
.btn-fixed-2 {
    width: 180px;
}
.btn-fixed-3 {
    width: 230px;
}

.rich-editor {
    &.is-invalid {
        .tox.tox-tinymce {
            border-color: $danger;
        }
    }
    .tox-statusbar__branding {
        display: none !important;
    }
}

::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}
 
::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 0;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: $border-color;
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.modal {
    @include media-breakpoint-down(md) {
        .modal-dialog {
            margin: 0;
            .modal-content {
                height: 100vh;
                .modal-body {
                    overflow: auto;
                }
            }
        }
    }
}

.how-doify-works {
    padding: 5rem 0;
    background-color: #F6FBFF;
    .rect {
        width: 0;
        border: solid 10px transparent;
        border-left-color: black;
        display: inline-block;
    }
    .item {
        max-width: 450px;
        width:  350px;
    }
}

.how-does-it-work {
    background-color: #FFFDF6;
    padding: 3rem;
    .title {
        color: #EC615B;
    }
}

.text-info-1 {
    color: #34BDF3 !important;
}