$datepicker__background-color: #ededed !default;
$datepicker__border-color: #ced4da !default;
$datepicker__highlighted-color: #3dcc4a !default;
$datepicker__muted-color: #ccc !default;
$datepicker__selected-color: $app-primary-light !default;
$datepicker__text-color: #444 !default;
$datepicker__header-color: #333 !default;
$datepicker__navigation-disabled-color: lighten($datepicker__muted-color, 10%)  !default;
$datepicker__header-color: #222;

$datepicker__border-radius: 0 !default;
$datepicker__day-margin: 0 !default;
$datepicker__font-size: 0.8rem !default;
$datepicker__font-family: "Helvetica Neue", Helvetica, Arial,
  sans-serif !default;
$datepicker__item-size: 2.2rem !default;
$datepicker__margin: 0.25rem !default;
$datepicker__navigation-size: 0.45rem !default;
$datepicker__triangle-size: 8px !default;
