.dashboard-view {
    background-color: #F3FBFF;
    @include media-breakpoint-up(md) {
        height: calc(100vh - 80px);
    }
    .sidebar {
        height: 100%;
        width: 320px;
        padding-top: 1rem;
        // box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.4);
        border-right: solid 1px $border-color;
        .item {
            display: block;
            padding: 1rem 2rem;
            font-family: $app-font-secondry;
            color: #5B5B5B;
            cursor: pointer;
            text-decoration: none;
            &.active {
                font-weight: bold;
                background-color: rgba(100, 204, 252, 0.1);;
                color: #2B478B;
            }
            &:hover {
                background-color: rgba(100, 204, 252, 0.1);
                color: #2B478B;
            }
        }
    }
    .content {
        padding: 1rem;
        width: 100%;
        overflow: auto;
        .counter {
            background-color: rgba(100, 204, 252, 0.1);
            padding: .5rem;
            text-align: center;
            max-width: 150px;
            margin: auto;
            .count {
                color: #000000;
                margin-bottom: .5rem;
                font-size: 23px;
            }
            .name {
                color: $app-primary-dark;
            }

        }
    }
}