.do-tasks-view, .my-tasks-view {
    height: calc(100vh - 80px);
    background-color: #F3FBFF;
    
    .do-tasks-view-content {
        max-width: 1140px;
        padding: 0 1rem;
        margin: auto;
        // background-color: $white;
        display: flex;
        height: calc(100% - 70px);
        .task-list {
            @include media-breakpoint-up(md) {
                width: 320px;
            }
            overflow: auto;
            padding: .5rem;
            .task-item {
                background-color: $tasks-list-item-bg;
                padding: 1rem;
                // border: solid 1px #00000029;
                margin-bottom: .5rem;
                cursor: pointer;
                box-shadow: $box-shadow-sm;
                .title {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                &.active {
                    box-shadow: 0 0rem .25rem rgba($app-primary-light, .9);
                }
            }
        }
        
    }
}
.filter-tasks {
    background-color: $white;
    @include media-breakpoint-up(md) {
        padding: 1rem;
        position: relative;
        box-shadow: $box-shadow-sm;
    }
    .filter-tasks-content {
        max-width: 1140px;
        margin: auto;
        @include media-breakpoint-down(md) {
            .dropdown {
                display: block;
                width: 100%;
                border-bottom: solid 1px $border-color;
                .btn {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                .dropdown-menu{
                    position: relative !important;
                    transform: none !important;
                    width: 100%;
                }
            }
        }
        @include media-breakpoint-up(md) {
            padding: 0 1rem;
        }
        .dropdown  {
            display: inline-block;
            .btn {
                background-color: transparent;
                color: $app-primary-dark;
                border: none;
                font-size: 18px;
                font-weight: bold;
                font-family: $app-font-secondry;
                box-shadow: none;
                .icon {
                    width: 20px;
                    height: 20px;
                    background-color: $app-primary-light;
                    display: inline-flex;
                    border-radius: 50%;
                    align-items: center;
                    justify-content: center;
                    vertical-align: middle;
                    img {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}

.task-details {
    background-color: $white;
    flex: 1;
    overflow: auto;
    .placeholder {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        opacity: .32;
        filter: grayscale(1);
    }
    .header {
        background-color: #FCFCFC;
        @include media-breakpoint-up(md) {
            padding: 2rem 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        @include media-breakpoint-down(md) {
            button {
                display: block;
                margin: 1rem auto 1rem;
            }
        }
        .title {
            font-weight: bold;
            color: $app-primary-dark;
            font-size: 20px;
            margin-bottom: .75rem;
        }
        span {
            // color: #000;
            font-weight: 600;
        }
    }
    .description {
        min-height: 150px;
    }

    .bit-info {
        * {
            font-family: $app-font-secondry;
        }
        .budget {
            font-weight: bold;
        }
        @include media-breakpoint-up(md) {
            border-left: solid 1px $border-color;
        }
        
        @include media-breakpoint-down(md) {
            button {
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
                border-radius: 0 !important;
                margin: 0 !important;
            }
        }
    }
}
.my-tasks-view {
    .task-item {
        border-left: solid;
    }
}

.rotate-180 {
    transform: rotate(180deg);
}