.forgot-password-modal {
    .otp-form {
        .otp-form-group {
            display: flex;
            .otp-fields {
                display: flex;
                input {
                    margin-right: 20px;
                    height: 50px;
                    width: 50px;
                    border: none;
                    background: none;
                    font-size: 20px;
                    line-height: 50px;
                    text-align: center;
                    border: solid 1px $app-primary-dark;
                    &:focus {
                        outline: none;
                    }
                }  
            }
            .otp-submit {
                height: 50px;
            }
        }
    }
}