.home-header {
    position: relative;
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    .carousel-control-prev, .carousel-control-next {
        width: 100px;
    }
    .carousel-indicators .active {
        background-color: $app-primary-light;
    }
    .slider-item {
        height: calc(100vh - 80px);
        width: 100%;
        background-position: center center !important;
        background-size: cover !important;
        @include media-breakpoint-down(md) {
            .display-1 {
                font-size: 3rem !important;
            }
        }
    }
    .down-option {
        width: 30px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;
        .arrow {
            overflow: hidden;
            img {
                animation: scroll 1s ease infinite;
            }
        }
    }
}

.explore-app {
    padding: 5rem 0;
}

.services-wrapper {
    max-width: 900px;
    margin: auto;
    position: relative;
    z-index: 1;
    .service-item {
        // min-height: 280px;
        padding: 3rem 2rem;
        box-shadow: $box-shadow;
        margin-bottom: 1rem;
        background-color: $white;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        .icon {
            margin-bottom: 1.5rem;
        }
        .name {
            color: $app-primary-light;
            font-size: 22px;
        }
        .lines {
            display: flex;
            margin-bottom: 1.5rem;
            span {
                display: inline-block;
                height: 3px;
                width: 20px;
                background-color: $app-primary-light;
                margin-right: 20px;
            }
        }

        .overlay {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background: linear-gradient(90deg,$app-primary-dark,$app-primary-light) ;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateY(100%);
            transition: all .5s ease;
            .content {
                color: $white;
                text-align: center;
                transform: translateY(50%);
                transition: all 1s ease;
            }
        }

        &:hover .overlay {
            transform: none;
            .content {
                transform: none;
            }
        }
    }
    .patten-bg {
        position: absolute;
        right: -25px;
        bottom: -50px;
        z-index: -1;
    }
}

.why-choose-us {
    padding: 3rem 0;
    background-color: fade-out($home-why-choose-us-bg, $home-why-choose-us-opacity);

    .why-choose-us-wrapper {
        padding: 3rem 0;
        .item {
            margin-bottom: 2rem;
            h4 {
                font-weight: bold;
            }
        }
        .why-choose-us-image {
            position: relative;
            z-index: 1;
            .patten {
                position: absolute;
                left: 80px;
                top: -25px;
                z-index: -1;
            }
        }
    }
}

.how-it-works {
    padding: 3rem 0;
}

.testimonials {
    padding: 3rem 0;
    .testimonials-content {
        position: relative;
        // overflow: hidden;
        // min-height: 562px;
        color: #151D41;
        .bg {
            position: absolute;
            // width: 853px;
            // height: 562px;
            left: 0;
            right: 0;
            top: -150px;
            margin:auto
        }

        .quote {
            font-size: 200px;
            font-family: $app-font-secondry;
            text-align: center;
            color: $app-primary-dark;
            height: 150px;
        }

        .dots {
            display: flex;
            justify-content: center;
            .item {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                margin: .5rem;
                background-color: #000000;
                cursor: pointer;
                transition: all .25s ease;
                &.active,&:hover {
                    background-color: $app-primary-dark;
                }
            }
        }
    }
}

.blogs {
    padding: 3rem 0;
    position: relative;
    .blogs-bg {
        position: absolute;
        right: 0;
        top: -100px;
    }
    .blog-item {
        margin-bottom: 1rem;
        cursor: pointer;
        transform: none;
        transition: all .25s ease;
        .img {
            position: relative;
            z-index: -1;
        }
        .content {
            padding: 1rem;
            border-radius: 5px;
            background-color: $white;
            box-shadow: 0 15px 20px #7682B72D;
            z-index: 1;
            min-height: 230px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .lines {
                display: flex;
                margin-bottom: 1.5rem;
                span {
                    display: inline-block;
                    height: 3px;
                    width: 20px;
                    background-color: $app-primary-dark;
                    margin-right: 20px;
                }
            }
        }
        &:hover {
            transform: scale(1.1);
        }
    }
}

@keyframes scroll {
    from {
        transform: translateY(-120%);
    }
    to {
        transform: translateY(120%);
    }
}

.doify-home-header {
    .carousel {
        ol.carousel-indicators {
            position: relative;
            margin: 0;
            padding: 0;
            justify-content: flex-start;
            li {
                width: 10px;
                height: 10px;
                background-color: #64CDFC;
                opacity: 0.2;
                border-radius: 50%;
                margin-right: 20px;
                &.active {
                    opacity: 1;
                }
            }
        }
        .line {
            width: 100px;
            height: 5px;
            background-color: $app-primary-light;
        }
    }
}

.doify-title {
    margin-bottom: 1.5rem;
    &:after {
        content: '';
        width: 100px;
        height: 5px;
        margin: auto;
        background-color: #3385F1;
        display: block;
        margin-top: 1rem;
    }
}

.text-decoration-underline {
    text-decoration: underline !important;
}