.login-modal, .register-modal, .profile-modal,.forgot-password-modal,.app-modal {
    .modal-header {
        padding: .5rem;
        position: relative;
        .modal-title {
            text-align: center;
            width: 110%;
        }
        .close-btn {
            position: absolute;
            right: .5rem;
            top: 0;
            bottom: 0;
            margin: auto;
            cursor: pointer;
        }
    }
}