.messages-view {
    height: calc(100vh - 80px);
    background-color: #F3FBFF;
    .messages-view-content {
        max-width: 1140px;
        padding: 0 1rem;
        margin: auto;
        // background-color: $white;
        display: flex;
        height: 100%;
        .task-list {
            overflow: auto;
            padding: .5rem;
            @include media-breakpoint-up(md) {
                width: 320px;
            }
            .task-item {
                background-color: $tasks-list-item-bg;
                padding: 1rem;
                // border: solid 1px #00000029;
                margin-bottom: .5rem;
                cursor: pointer;
                box-shadow: $box-shadow-sm;
                .title {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                &.active {
                    box-shadow: 0 0rem .25rem rgba($app-primary-light, .9);
                }
            }
        }
        .task-details {
            background-color: $white;
            flex: 1;
            overflow: auto;
            .placeholder {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                opacity: .32;
                filter: grayscale(1);
            }
            .header {
                padding: 2rem 1rem;
                background-color: #FCFCFC;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .title {
                    font-weight: bold;
                    color: $app-primary-dark;
                    font-size: 20px;
                    margin-bottom: .75rem;
                }
                span {
                    // color: #000;
                    font-weight: 600;
                }
            }
            .description {
                min-height: 150px;
            }
    
            .bit-info {
                * {
                    font-family: $app-font-secondry;
                }
                .budget {
                    font-weight: bold;
                }
            }
        }
    }
}

.message-modal {
    .task-details {
        background-color: $white;
        flex: 1;
        overflow: auto;
        .placeholder {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            opacity: .32;
            filter: grayscale(1);
        }
        .header {
            padding: 2rem 1rem;
            background-color: #FCFCFC;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title {
                font-weight: bold;
                color: $app-primary-dark;
                font-size: 20px;
                margin-bottom: .75rem;
            }
            span {
                // color: #000;
                font-weight: 600;
            }
        }
        .description {
            min-height: 150px;
        }

        .bit-info {
            * {
                font-family: $app-font-secondry;
            }
            .budget {
                font-weight: bold;
            }
        }
    }
}