.task-bids-table {
    tbody {
        * {
            font-family: $app-font-secondry;
        }
    }
}

.task-poster-invoice-view {
    border: solid 1px $border-color;
    padding: 1rem;
    margin-bottom: 1rem;
}

.select-option {
    width: 27px;
    height: 27px;
    border: solid 1px $border-color;
    position: relative;
    cursor: pointer;
    user-select: none;
    &:before {
        content: " ";
        width: 17px;
        height: 17px;
        background-color: $app-primary-light;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        transform: scale(0);
        transition: all .25s ease;
    }
    &.active {
        &:before {
            transform: scale(1);
        }
    }
}