.notifications-view {
    height: calc(100vh - 80px);
    background-color: #F3FBFF;
    .notifications-view-content {
        max-width: 1140px;
        // padding: 0 1rem;
        margin: auto;
        background-color: $white;
        display: flex;
        height: 100%;
        overflow: auto;
    }
}