.profile-modal {
    .profile-image-wrapper {
        width: 150px;
        height: 150px;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        .profile-image {
            width: 150px;
            height: 150px;
            background-color: #f8f9fa;
        }
        .overlay {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #000000aa;
            color: #fff;
            padding: .5rem;
            text-align: center;
            transform: translateY(100%);
            transition: all .5s ease;
        }
        .inp {
            height: 0;
            width: 0;
            border: 0;
            padding:0;
            margin: 0;
            overflow: hidden;
        }
        &:hover {
            .overlay {
                transform: none;
            }
        }
    }
}


.profile-view {
    background-color: #F3FBFF;
}