$app-primary-dark: #2B478B;
$app-primary-light: #006DF0;

// Fonts
$app-font-primary:  'Lato', sans-serif;
$app-font-secondry:  'Lato', sans-serif;

// Navigation
$app-navbar-link-color: #5B5B5B;

// APP Heading
$app-heading-color: #151D41;
$app-heading-bg: #0FBF61;


// Views
// 1. Home
// 1.1 Why Choose Us
$home-why-choose-us-bg: #006df0;
$home-why-choose-us-opacity: 1 - 0.05;

// 2. Tasks
$tasks-list-item-bg: #fff;

$react-rater-link: #ccc !default; // color of star not rated 
$react-rater-hover: #ffc107 !default; // color of star on hover 
$react-rater-active: #ffc107 !default; // color of star rated 