body {
  overscroll-behavior-y: contain;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.app-title-bar {
    background-color: $primary;
    color: $white;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    .icon {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .left {
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .body {
        min-height: 50px;
        display: flex;
        .app-title {
            
            // font-weight: 700;
            // color: $primary;
        }
    }
    .right {
        min-height: 50px;
    }
    .text{
        font-size: 12px;
    }
}

.app-body {
    flex: 1;
    background-repeat: no-repeat;
    overflow: auto;
}

.tasks {
    &-item {
        .card-title {
            // overflow: hidden;
            // white-space: nowrap;
            // text-overflow: ellipsis;
        }
        .action {
            height: 2rem;
            width: 2rem;
            border: solid 1px $border-color;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1;
        }
        .card-footer {
            line-height: 1;
        }
    }
}
