$primary:                   #006df0;
// $primary:                   #702DE3;

$border-radius:               8px;
// Icon Font
$icomoon-font-path:           "../fonts";
// Body
$body-color:                #4F5B74;
$border-color:              #c0c7d4;