$icomoon-font-family: "doify-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-Activity: "\e900";
$icon-Bag: "\e901";
$icon-Bookmark: "\e902";
$icon-Calendar: "\e903";
$icon-Category: "\e904";
$icon-Chart: "\e905";
$icon-Chat: "\e906";
$icon-Discovery: "\e907";
$icon-Document: "\e908";
$icon-Folder: "\e909";
$icon-Game: "\e90a";
$icon-Graph: "\e90b";
$icon-Heart: "\e90c";
$icon-Home: "\e90d";
$icon-Location: "\e90e";
$icon-Message: "\e90f";
$icon-Notification: "\e910";
$icon-Plus: "\e911";
$icon-Profile: "\e912";
$icon-Scan: "\e913";
$icon-Search: "\e914";
$icon-Setting: "\e915";
$icon-Star: "\e916";
$icon-Wallet: "\e917";


@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?5q22fj');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?5q22fj#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?5q22fj') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?5q22fj') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?5q22fj##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Activity {
  &:before {
    content: $icon-Activity; 
  }
}
.icon-Bag {
  &:before {
    content: $icon-Bag; 
  }
}
.icon-Bookmark {
  &:before {
    content: $icon-Bookmark; 
  }
}
.icon-Calendar {
  &:before {
    content: $icon-Calendar; 
  }
}
.icon-Category {
  &:before {
    content: $icon-Category; 
  }
}
.icon-Chart {
  &:before {
    content: $icon-Chart; 
  }
}
.icon-Chat {
  &:before {
    content: $icon-Chat; 
  }
}
.icon-Discovery {
  &:before {
    content: $icon-Discovery; 
  }
}
.icon-Document {
  &:before {
    content: $icon-Document; 
  }
}
.icon-Folder {
  &:before {
    content: $icon-Folder; 
  }
}
.icon-Game {
  &:before {
    content: $icon-Game; 
  }
}
.icon-Graph {
  &:before {
    content: $icon-Graph; 
  }
}
.icon-Heart {
  &:before {
    content: $icon-Heart; 
  }
}
.icon-Home {
  &:before {
    content: $icon-Home; 
  }
}
.icon-Location {
  &:before {
    content: $icon-Location; 
  }
}
.icon-Message {
  &:before {
    content: $icon-Message; 
  }
}
.icon-Notification {
  &:before {
    content: $icon-Notification; 
  }
}
.icon-Plus {
  &:before {
    content: $icon-Plus; 
  }
}
.icon-Profile {
  &:before {
    content: $icon-Profile; 
  }
}
.icon-Scan {
  &:before {
    content: $icon-Scan; 
  }
}
.icon-Search {
  &:before {
    content: $icon-Search; 
  }
}
.icon-Setting {
  &:before {
    content: $icon-Setting; 
  }
}
.icon-Star {
  &:before {
    content: $icon-Star; 
  }
}
.icon-Wallet {
  &:before {
    content: $icon-Wallet; 
  }
}

